/* stylelint-disable max-line-length */
/* stylelint-disable value-keyword-case */
$base-font-family:
  Pretendard,
  'SF Pro KR',
  'SF Pro Display',
  'SF Pro Icons',
  -apple-system,
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  sans-serif;
$code-font-family: 'Geist Mono', 'Roboto Mono', Consolas, monospace;
$heading-font-family:
  Montserrat,
  'Wanted Sans',
  'SF Pro KR',
  'SF Pro Display',
  'SF Pro Icons',
  -apple-system,
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  sans-serif;
