:root {
  --bs-cyan-600: #0aa2c0;
  --bs-cyan-700: #087990;
  --bs-grey-200: #e9ecef;
  --bs-grey-900: #212529;
  --bs-white: #fff;
  --bs-font-sans-serif: 'Spoqa Han Sans Neo', sans-serif;
}

body {
  font-family: var(--bs-font-sans-serif);
  word-break: keep-all;
  overflow-wrap: break-word;
}

button {
  border: 0;
}

.copy-account-info-button {
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
  align-items: center;
}

.navbar-button {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  color: var(--bs-cyan-600);
  background-color: transparent;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  &:hover {
    color: var(--bs-cyan-700);
  }

  &-fill {
    color: var(--bs-white);
    background-color: var(--bs-cyan-600);

    &:hover {
      color: var(--bs-white);
      background-color: var(--bs-cyan-700);
    }
  }
}

#navigation {
  padding: 12px;
  border-radius: 32px;
  background-color: var(--bs-grey-200);
  flex-wrap: nowrap;

  .nav-link {
    display: flex;
    border-radius: 32px;
    color: var(--bs-grey-900);
    align-items: center;
    gap: 4px;

    &.active {
      color: var(--bs-white);
      background-color: var(--bs-cyan-600);

      .nav-link-name {
        width: initial;
        height: initial;
        visibility: visible;
      }
    }

    .nav-link-name {
      width: 0;
      height: 0;
      font-size: 13px;
      white-space: nowrap;
      visibility: hidden;
    }
  }
}
