@import './base';

%anchor {
  a {
    color: black !important;
    transition: 0.2s;

    &:hover {
      border-color: $color-cyan-400 !important;
      color: $color-cyan-600 !important;
      text-decoration: none !important;
    }
  }
}

%gt-btn {
  border-color: $color-cyan-400;
  background-color: $color-cyan-400;
  font-size: 0.85em;
  transition: 0.2s;

  &:hover {
    border-color: $color-cyan-600;
    background-color: $color-cyan-600;
  }
}

.gt-container {
  @extend %anchor;

  .gt-meta,
  .gt-no-init {
    @extend %anchor;
  }

  .gt-btn {
    @extend %gt-btn;
  }

  .gt-header {
    .gt-svg {
      vertical-align: middle;

      svg {
        fill: $color-cyan-600;
      }
    }

    .gt-header-controls {
      &-tip {
        color: $color-cyan-600;
      }

      .gt-btn {
        @extend %gt-btn;

        &-preview {
          background-color: white;
          color: $color-cyan-400;

          &:hover {
            border-color: $color-cyan-600;
            background-color: inherit;
            color: $color-cyan-600;
          }
        }

        &-public {
          background-color: $color-cyan-400;

          &:hover {
            border-color: $color-cyan-600;
            background-color: $color-cyan-600;
          }
        }
      }
    }

    .gt-header-preview {
      border-color: $color-grey-300;
      background-color: $color-grey-100;
      border-radius: 4px;
    }
  }

  .gt-comments {
    .gt-comment-header {
      .gt-comment-like,
      .gt-comment-reply {
        svg {
          fill: $color-cyan-600;
        }
      }
    }

    .gt-comment-content {
      border: 1px solid $color-cyan-200;
      background-color: white;
      border-radius: 4px;
    }

    .gt-comment-admin {
      .gt-comment-content {
        background-color: rgba($color-cyan-50, 0.2);
      }
    }

    .gt-comment-username {
      color: $color-cyan-600;
    }
  }

  .gt-avatar {
    img {
      border-radius: 50% !important;
    }
  }

  .gt-ico-text {
    vertical-align: middle;
  }

  .markdown-body {
    font-family: inherit;
    font-size: 0.9em;

    code {
      font-size: inherit;
    }
  }
}
